.dice-cont {
    display: flex;
    justify-content: center;
    position: relative;
}

.innerbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--glass-background);
    box-shadow: 5px 5px 5px var(--shadow-color);
    border-radius: 30px;
    border: 2px solid var(--glass-outline);
    height: 350px;
    width: 350px;
}
#dice{
    position: fixed;
    left: calc(50% - (150px/2) - 10px);
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 90px 95px 140px 120px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
}
#Rollbutton{
    align-self: center;
    border: 1px solid var(--transparent);
    text-align: center;
    width: 75px;
    margin-top: 10px;
    color: var(--text-color);
    background-color: var(--background-alpha);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
}
#Rollbutton:hover{
    cursor:pointer;
    border: 1px solid var(--sec-text-color);
    background-color: var(--sec-background-alpha);
    box-shadow: 3px 3px 1px var(--shadow-color);
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#sound{
    display: none;
}

#images img{
    position: fixed;
    left: calc(50% - (150px/2) - 10px);
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow-color);
    animation-name: dice;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
}
#shownum{
    margin-top: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    /* font-family:Geneva; */
}
.message{
    /* margin-left: 10%;
    font-weight: 1000; */
    text-align: center;
    font-size: 2.5em;   
}

@keyframes dice{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}