/* https://j2jinstitute.com */

:root {
    --accent: #47fda0;
    --accent-other: #4794fd;
    --logo-color: #ff6a00;
    --text-color: #000000;
    --background: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }
  
body {
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar {
    top: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: inherit;
    position: sticky;
    align-items: center;
    position: -webkit-sticky;
    background-color: #e3f2fd;
}

.navbar-item {
    padding-top: 0.5rem;
    padding: 0.5rem;
    color: var(--bs-navbar-color);
}

.navbar-logo {
    color: var(--accent-other);
}

.navbar-item-active {
    color: var(--accent);
    background-color: #000000;
}